{% ckan_extends %}


{% block header_logo %}
    {% snippet 'snippets/header_logo.html',
        site_title = g.site_title,
        logo='/images/logo.png',
        header_title='Data & Documentation Library<br/>WHO Romania Country Office' | safe %}
{% endblock %}

{% block nav_items_signed %}
    {{ h.build_nav_main(
        ('dataset.search', _('Datasets')),
        ('group.index', _('Categories')),
        ('user.index', _('Users'))
         ) }}
{% endblock %}

{% block nav_items_unsigned %}
    {{ h.build_nav_main(
        ('dataset.search', _('Datasets')),
        ('group.index', _('Categories')),
        ('user.index', _('Users')),
        (h.get_login_view(), _('Log in'))
         ) }}
{% endblock %}
