{% ckan_extends %}

{% block content %}
    <div class="categories layout-{{ homepage_style }}">
        <div id="content" class="container">
            {{ self.flash() }}
        </div>
        <div class="main hero">
            <div class="promoted-background">
                <div class="promoted">
                    <div class="container">
                        <p class="subtitle">Home / </p>
                        <h1 class="headline">Categories</h1>
                    </div>
                </div>
            </div>
            <div class="document-categories">
                <div class="container">
                    {% if h.check_access('group_create') %}
                        {% link_for _('Add Categories'), named_route=group_type+'.new', class_='btn btn-primary add-category', icon='plus-square' %}
                    {% endif %}
                    {% block groups_list %}
                      {{ super () }}
                    {% endblock %}
                </div>
            </div>
            {% if not g.userobj %}
            <div class="spacer">
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
