include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/who_romania *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/who_romania/migration *.ini *.py *.mako
