{% set intro = g.site_intro_text %}

<div class="module-content box">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome") }}</h1>
      <p>
        {% trans %}Welcome to WHO Romania's CKAN data library. {% endtrans %}
      </p>
    {% endif %}
  </div>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      <h2 class="media-heading">{% block home_image_caption %}{{ _("You can browse all the data stored by WHO Romania from here") }}{% endblock %}</h2>
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-responsive" src="{{ h.url_for_static('/images/spectrum.png') }}" style="border-radius: 3px;" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
