{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set placeholder = _('E.g. environment') %}
{% set stats = h.get_site_statistics() %}

{% block promote %}
<div class="promoted promoted-home col-xs-12 col-sm-12 col-lg-12" >
    <div class="promoted-container row">

            <div class="promoted-text">
                <p class="subtitle">{{_('WHO Romania Country Office')}}</p>
                <h1 class="headline">{{_('Data & Documentation Library')}}</h1>
                <p class="description">
                    {{_('A platform for the WHO Romania Country Office to archive datasets and documentation for dissemination across internal and external partners.')}}
                </p>
            </div>

            <div class="search-section">
            <h2>{{ _('Search {0} datasets:').format(h.SI_number_span(stats.dataset_count)) }}</h2>
            {% snippet 'snippets/search_input.html', placeholder='e.g environment' %}
            <p class="show-categories">{{_('Or')}} <a class="small" href="{{ h.url_for('/group/') }}">{{_('find data by category')}}</a></p>
            </div>
    </div>
</div>
{% endblock %}
