{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set placeholder = _('E.g. environment') %}
{% set stats = h.get_site_statistics() %}

<div class="promoted col-xs-12 col-sm-9 col-lg-7" >
    <p class="subtitle">{{_('WHO Romania Country Office')}}</p>
    <h1 class="headline">{{_('Data & Documentation Library')}}</h1>
    <p class="description">{{_('A platform for the WHO Romania Country Office to archive datasets and documentation for dissemination across internal and external partners.')}}</p>
    <h2>{{ _('Search {0} datasets:').format(h.SI_number_span(stats.dataset_count)) }}</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6">
            {% snippet 'snippets/search_input.html' %}
        </div>
    </div>
    <p>{{_('Or')}} <a class="small" href="{{ h.url_for('/group/') }}">{{_('find data by category')}}</a></p>
</div>
