{% ckan_extends %}

{% block content_primary_nav %}
    {{ h.build_nav(dataset_type ~ '.read', _('Dataset'),  id=pkg.name) }}
    {{ h.build_nav(dataset_type ~ '.groups', h.humanize_entity_type('group', default_group_type, 'content tab') or _('Categories'), id=pkg.name) }}
    {{ h.build_nav('activity.package_activity', _('Activity'), id=pkg.id if is_activity_archive else pkg.name) }}
      {% if h.check_access('package_update', {'id':pkg.id }) %}
          <li>
          {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, icon='wrench' %}
          </li>
      {% endif %}
{% endblock %}
