{% ckan_extends %}

{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set placeholder = _('E.g. environment') %}
{% set stats = h.get_site_statistics() %}

{% block subtitle %}{{ _(dataset_type.title()) }}{% endblock %}

{% block promoted_toolbar %}
{% endblock %}

{% block page_primary_action %}
{% if h.check_access('package_create') %}
<div class="page_primary_action">
    {% snippet 'snippets/dataset_selector.html'%}
</div>
{% endif %}
{% endblock %}


{%- block content %}
    <div role="main">
        <div class="promoted-background ">
            <div class="promoted">
                <div class="container">
                    <p class="subtitle">Home / </p>
                    <h1 class="headline">Datasets</h1>
                </div>
            </div>
        </div>

    {{super() }}
</div>
{%  endblock %}



