{% ckan_extends %}

{% set type = group.type or 'group' %}
{% set url = h.url_for(type ~ '.read', id=group.name) %}

{% block item %}
    <li>
    {% if group.user_member %}
        <button name="group_remove.{{ group.id }}"
                type="submit"
                class="btn btn-delete btn-sm media-edit"
                title="{{_('Remove dataset from this group')}}">
          <i class="fa fa-remove"> </i>
        </button>
    {% endif %}
   <a href="{{ url }}" class="topic-link">
    <img src="{{ group.image_display_url }}" width="36" alt=""/>
    <span class="group-title">{{ _(group.title) }}</span>
  </a>
    </li>

{% endblock %}
