/* promoted background */
.promoted-background {
    width: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                      url("/images/small_promoted_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
}

@media only screen and (min-width: 467px) {
    .promoted-background {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)),
                          url("/images/medium_promoted_background.png");
    }
}

@media only screen and min-width: 991px {
    .promoted-background {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)),
                          url("/images/large_promoted_background.png");
    }
}

.promoted-background .show-categories {
    margin-top: 24px;
}

.promoted-background .show-categories a {
    color: var(--secondary);
}
/* promoted background */

/* hide insights */
.insights {
    min-height: 0;
    display: none;
}

.main, .homepage,
.homepage .hero {
    min-height: 0;
}
.recently-updated {
    margin-top: 64px;
}
/* hide insights */

/* groups */
.categories-page {
    .wrapper {
        border: none;
        box-shadow: none;
    }
    .wrapper:before {
        content: none;
    }
    .secondary {
        display: none;
    }
    .primary {
        width: 100%;
    }
    .module-content .page_primary_action .btn {
        margin-bottom: 24px;
    }
}
.topics-background {
    margin-top: 48px;
    margin-bottom: 64px;
    background-color: white;
}
.topics-background H1:first-child {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.04em;
    text-align: left;
}
.topics-background .container {
    width: 100%;
}

.topics {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
   list-style-type: none;
   padding: 0;
   width: 100%;
   margin-top: 24px;
   align-items: flex-start;
    margin-left: -28px;
}

.topics li:last-child {
    margin-right: 0;
}
.topics li {
    display: inline flex;
    margin-right: 21px;
    margin-top: 24px;
    width: 124px;
    height: 96px;
    border-radius: 4px;
}
.topics li a {
    margin: 16px;
    width: 92px;
    height: 64px;
}

.topics li a .topic-top-square {
    background-color: var(--primary25);
    width: 40px;
    height: 40px;
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 6px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topics li a .topic-top-square img {
    max-width: 36px;
    max-height: 36px;
}
.topics li a .topic-link {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #13240F;
}

/* category box */
.dataset .category-box {
    background: var(--light);
    border: var(--primary10) 1px solid;
    border-radius: 6px;
    margin-bottom: 24px;
    padding:  20px;
    height:  110px;
    position: relative;
}

.dataset .category-box .group-thumbnail {
    float:  left;
    display: inline-block;
    vertical-align: middle;
    max-height: 70px;
    margin-right: 20px;
}

.dataset .category-box .group-text {
    vertical-align: middle;
    width:  100%;
}

.dataset .category-box .group-text .title{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary);
}

.dataset .category-box .group-text .desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary);
    overflow: hidden;
    height: 50px;
}

.dataset .category-box .btn-delete {
    background-color: #00205c;
    color: var(--light);
    font-size: 20px;
    line-height: 20px;
    padding: 5px 10px 5px 7px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 20px 0;
}

/* groups */

.module.automation{
    border-top: 1px dotted #DDD;
}

.module .automation-function{
    border-top: 1px dotted #DDD;
    margin-top: 20px;
    padding: 10px 0px;
}

/* package read */
.package-read .tag-list {
    padding: 0;
}

.package-read .tag-list {
    margin-top: 36px;
    background: none;
    border: none;
}

.package-read .tag-list li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: var(--tag-background);
    border-radius: 4px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
}

.package-read .tag,
.package-read .tag:hover
{
    display: inline-block;
    background-color: transparent;
    color: var(--tag-dark);
    text-decoration: none;
    border-radius: 4px;
    border: none;
    box-shadow: none;
}

.package-read #dataset-resources {
    margin-top: 36px;
}
/* package read */
.lens-btn .search-label {
    display: inline !important;
    padding-left: 5px !important;
}

@media only screen and (min-width: 992px) {
    .masthead .main-navbar ul li.active a {
        padding-bottom: 37px !important;
        border-bottom: var(--secondary) 4px solid;
        border-radius: 0;
        z-index: 0;
    }
}

.dynamic-wave-background:before, .dynamic-wave-background:after {
    background: none !important;
}

.account-masthead .account ul li a, .account-masthead .account ul li a:hover {
    color: var(--primary);
}

/* tag badges */
.dataset-resources li {
    background: var(--primary65);
}

.btn-danger {
  background-color: #C70039;
  border-color: config.$tag-light;
}
